:root {
  --white: hsl(0, 0%, 98%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 64%);
  --dark-blue: hsl(210, 62%, 18%);
  --light-grey: hsl(0, 0%, 83%);
  --very-light-grey: hsl(0, 0%, 90%);
  --yellow: hsl(42, 94%, 57%);
  --blue: hsl(215, 69%, 37%);
  --medium-black: hsl(240, 1%, 14%);
  --light-black: hsl(0, 0%, 15%);
  --faded-blue: hsl(217, 19%, 27%);
  --faded-black: hsl(0, 0%, 32%);
  --faded-white: hsla(0, 0%, 0%, 0);
}
