.primary-btn{
    background-color: var(--yellow);
    padding: 0.5rem 1.5rem;
    color: var(--black);
    border-radius: 50px;
    font-family: var(--sub-text);
}

.primary-btn:hover{
    opacity: 0.9;
}


%secondary-btn{
    background-color: var(--blue);
    padding: 0.5rem 1.25rem;
    color: var(--white);
    border-radius: 50px;
    font-family: var(--sub-text);
    border: 1px solid var(--white);
}

.secondary-btn{
    @extend %secondary-btn;
}

.secondary-btn:hover{
    color:var(--black);
    background-color: var(--white);
}

.programs-btn{
    @extend %secondary-btn;
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    display: block;
    text-align: center;
}

.programs-btn:hover{
    color: var(--white);
    background-color: var(--blue);
}