%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.flex{
    @extend %flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.flex-reverse{
    @extend %flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.flex-col{
    @extend %flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2rem;
}
