.hero{
    background-color: var(--blue);
    padding-top: 3rem;

    .hero--img{
        width: 400px;
        height: 350px;
    }

    .container{
        margin-bottom: 5rem;
    }
    
    h1{
        width: 95%;
        font-size: 3rem;
        color: white;
        line-height: 60px;
    }

    
    .hero--content{
        width: 80%;
        font-size: 1.15rem;
        color: white;
        padding-bottom: 1.5rem;
    }   
}




// Companies part

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3rem;
    padding-bottom: 3rem;

    .bottom-text{
        color: var(--white);
        opacity: 0.7;
    }
    .company{
        width: 100px;
        height: 32px;
        opacity: 0.5;
    }
    .company:hover{
        opacity: 1;
    }
}
